/* Form */
.signup-form {
	width: 26rem;
	margin: auto;
}
.App .form-check {
	padding: 0;
	max-width: 12rem;
	min-width: auto;
}
.App .form-check:first-child {
	margin-right: 2rem;
}
.form-check-input:checked~label {
	border: 1px solid #654ee0;
	border-radius: 7px;
}
.form-check-input[type=radio] {
	display: none;
}
.App .card-body {
	padding: 1.5rem;
}

/* Button */
.App .btn-primary {
  --bs-btn-bg: #654ee0;
  --bs-btn-border-color: #654ee0;
  --bs-btn-hover-bg: #654ee0;
  --bs-btn-hover-border-color: #654ee0;
  --bs-btn-active-bg: #654ee0;
  --bs-btn-active-border-color: #654ee0;
}