html .App {
  font-family: 'Inter', sans-serif;
}
.App {
  background-color: white;
  width: 50vw;
  margin: auto;
}
.App-name {
  font-size: 1.8rem;
  font-weight: bold;
}
.App-header {
  display: flex;
  justify-content: center;
}
.heading {
  font-size: 1.7rem;
  font-weight: bold;
}

/* Responsive */
@media only screen and (max-width: 992px) {
  .App {
    width: 60%;
  }
  .heading {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .App {
    width: 100%;
  }
  .heading {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 460px) {
  .heading {
    font-size: 1.2rem;
  }
}