html .App {
  font-family: 'Inter', sans-serif;
}

.App {
  background-color: white;
  width: 50%;
  margin: auto;
}

.App-name {
  font-size: 1.8rem;
  font-weight: bold;  
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.MuiStep-root .MuiStepConnector-horizontal {
  left: calc(-50% + 12px);
  right: calc(50% + 12px);
}

.MuiStep-root .MuiSvgIcon-root .MuiStepIcon-text{
  fill: white;
}

.MuiStep-root .Mui-active .MuiStepConnector-line,
.MuiStep-root .Mui-completed .MuiStepConnector-line {
  padding: 1px;
  margin-top: -1px;
  border-top-width: unset;
  border-top-style: unset;
  background-color: #654ee0;
}

.MuiStep-root .MuiStepConnector-line {
  border-color: #f1f1f5;
}

.MuiStep-root.active-step + .MuiStep-root .MuiStepConnector-root .MuiStepConnector-line {
  padding: 1px;
  margin-top: -1px;
  border-top-width: unset;
  border-top-style: unset;
  background-color: #654ee0;
  background: linear-gradient(to right, #654ee0 50%, #f1f1f5 10%);
}

.signup-form {
  width: 60%;
  margin: auto;
}

.heading {
  font-size: 1.8rem;
  font-weight: bold;
}

.form-check-input:checked ~ label {
  border: 1px solid #654ee0;
  border-radius: 7px;
}

.form-check-input[type=radio] {
  display: none;
}

.App .btn-primary {
  --bs-btn-bg: #654ee0;
  --bs-btn-border-color: #654ee0;
  --bs-btn-hover-bg: #654ee0;
  --bs-btn-hover-border-color: #654ee0;
  --bs-btn-active-bg: #654ee0;
  --bs-btn-active-border-color: #654ee0;
}

@media only screen and (max-width: 1024px) {
  .signup-form {
    width: 90%;
    margin: auto;
  }
}

@media only screen and (max-width: 767px) {
  .App {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .heading {
    font-size: 1.2rem;
  }
  .signup-form {
    width: 90%;
    margin: auto;
  }
}